{% assign navPages = collections.all | eleventyNavigation %}
<nav class="navbar">
  <a href="#" class="navbar__logo">
    <img src="http://admin.bigtuna.site/wp-content/uploads/2022/04/Logo.svg" alt="Logo">
  </a>
  <ul class="navbar__nav">
    {% for navPage in navPages %}
      <li class="navbar__item{% if navPage.children.size > 0 %} navbar__item--dropdown{% endif %}">
        <a
          href="{{ navPage.url }}"
          class="navbar__link{% if navPage.children.size > 0 %} navbar__link--dropdown{% endif %}"
          {% if navPage.url == page.url %}aria-current="page"{% endif %}
        >
          {{ navPage.title }}
          {% if navPage.children.size > 0 %} 
            <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
              <path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd" />
            </svg>
          {% endif %}
        </a>
        {% if navPage.children.size > 0 %}
        <ul class="navbar__submenu dropdown">
          {% for childPage in navPage.children %}
          <li class="navbar__submenu-item">
            <a class="navbar__submenu-link" href="{{ childPage.url }}">{{ childPage.title }}</a>
          </li>
          {% endfor %}
        </ul>
        {% endif %}
      </li>
    {% endfor %}
  </ul>
</nav>

