//
// Headers global styles
//

@use "sass:map";

$headers-font-size: (
  h6: $font-size-h6,
  h5: $font-size-h5,
  h4: $font-size-h4,
  h3: $font-size-h3,
  h2: $font-size-h2,
  h1: $font-size-h1,
);

$headers-font-weight: (
  h6: $font-weight-h6,
  h5: $font-weight-h5,
  h4: $font-weight-h4,
  h3: $font-weight-h3,
  h2: $font-weight-h2,
  h1: $font-weight-h1,
);

@for $i from 1 through 6 {
  h#{$i} {
    font-family: $font-ubuntu;
    font-weight: map.get($headers-font-weight, h#{$i});
    font-size: map.get($headers-font-size, h#{$i});
    color: $white;
  }
}
