//
// Typography
//

body {
  font-family: $font-open-sans;
  font-size: $font-size-body;
  font-weight: $font-weight-body;
  line-height: $line-height-default;
  color: $white;

  p {
    line-height: $line-height-p;
  }
}
