//
// Variables
//

// Main Colors
$pink: #ff2e63 !default;
$teal: #08d9d6 !default;
$red: #ea0000 !default;

$main-colors: (
  primary: $pink,
  secondary: $teal,
  danger: $red,
);

// Hover Colors
$hover-pink: #c71341 !default;
$hover-teal: #08bfbd !default;
$hover-red: #cc0404 !default;

$main-hover-colors: (
  primary: $hover-pink,
  secondary: $hover-teal,
  danger: $hover-red,
);

// Basic Colors
$white: #fff !default;
$gray-10: #f4f4f4 !default;
$gray-20: #e0e0e0 !default;
$gray-30: #c6c6c6 !default;
$gray-40: #a8a8a8 !default;
$gray-50: #8d8d8d !default;
$gray-60: #6f6f6f !default;
$gray-70: #525252 !default;
$gray-80: #393939 !default;
$gray-90: #262626 !default;
$gray-100: #161616 !default;
$black: #000000 !default;

$colors: (
  primary: $pink,
  secondary: $teal,
  danger: $red,
  gray-10: $gray-10,
  gray-20: $gray-20,
  gray-30: $gray-30,
  gray-40: $gray-40,
  gray-50: $gray-50,
  gray-60: $gray-60,
  gray-70: $gray-70,
  gray-80: $gray-80,
  gray-90: $gray-90,
  gray-100: $gray-100,
);

// Fonts
$font-open-sans: "Open Sans", sans-serif !default;
$font-ubuntu: "Ubuntu", sans-serif !default;

// Typography - Font size
$font-size-body: 1rem !default;
$font-size-h6: 1rem !default;
$font-size-h5: 1rem !default;
$font-size-h4: 1.25rem !default;
$font-size-h3: 1.75rem !default;
$font-size-h2: 2.625rem !default;
$font-size-h1: 2.625rem !default;
$font-size-small: 0.875rem !default;
$font-size-super-small: 0.688rem !default;

// Typography - Font weight
$font-weight-body: 400 !default;
$font-weight-h6: 400 !default;
$font-weight-h5: 700 !default;
$font-weight-h4: 400 !default;
$font-weight-h3: 400 !default;
$font-weight-h2: 400 !default;
$font-weight-h1: 500 !default;

// Typography - Line heights
$line-height-default: normal !default;
$line-height-p: 1.5 !default;

// Transitions
$transition: all 100ms ease-in !default;

// Spacers
$margins: (
  1: 1rem,
  2: 2rem,
  3: 5rem,
  4: 6rem,
  5: 8rem,
);

$paddings: (
  1: 1rem,
  2: 2rem,
  3: 5rem,
  4: 6rem,
  5: 8rem,
);

// Breakpoints
$breakpoints: (
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px,
);

// Containers
$container-padding-x: 1rem !default;
$containers-sizes: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 1320px,
);

// Radius
$border-radius: 1rem !default;

// Button
$button-padding-left: 1rem !default;
$button-padding-right: 4rem !default;
$button-padding-top: 0.75rem !default;
$button-padding-bottom: 0.75rem !default;

// Tag
$tag-padding-y: 0.25rem !default;
$tag-padding-x: 0.5rem !default;

// Navbar
$navbar-logo-width: 60px !default;
$navbar-nav-padding-y: 1.125rem !default;
$navbar-nav-padding-x: 1rem !default;
$navbar-nav-link-hover-bg: $gray-70 !default;
$navbar-nav-link-active-color: $pink !default;

// Cards
$card-body-padding-y: 1rem !default;
$card-body-padding-x: 1rem !default;
$card-bg: $gray-80 !default;
$card-hover-bg: $gray-70 !default;
$card-border: 1px solid $gray-70 !default;
$card-radius: $border-radius !default;

$card-overlay-body-padding-y: 1rem !default;
$card-overlay-body-padding-x: 1rem !default;
$card-overlay-border: 1px solid $gray-70 !default;
$card-overlay-radius: $border-radius !default;
$card-overlay-bg: $gray-90 !default;

// Footer
$footer-logo-width: 64px !default;

// Dropdown
$dropdown-border: 1px solid $gray-60 !default;

// Search
$search-font-size: $font-size-body !default;
$search-max-width: 228px !default;
$search-color: $gray-20 !default;
$search-placeholder-color: $gray-40 !default;
$search-background: $gray-60 !default;
$search-border: solid 2px $teal !default;
