//
// Footer styles
//

.footer {
  &__logo {
    grid-area: logo;

    & > img {
      width: $footer-logo-width;
      height: auto;
    }
  }

  &__desc {
    grid-area: desc;
    font-size: $font-size-small;
  }

  &__nav {
    grid-area: nav;

    & > h3 {
      margin-bottom: 1rem;
    }

    & > ul {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 0.75rem;
    }
  }

  &__link {
    color: $white;
    text-decoration: none;
  }

  &__search {
    grid-area: search;
    color: $pink;
    text-decoration: none;

    &:hover {
      color: $hover-pink;
    }

    & > h3 {
      color: inherit;
    }

    & > h3 > svg {
      display: inline-block;
      width: 1.4rem;
      height: 1.4rem;
    }
  }

  &__cp {
    grid-area: cp;
    width: 100%;
    position: relative;
    color: $gray-20;
    font-size: $font-size-small;
    padding-top: 1rem;

    &::before {
      content: '';
      width: 100%;
      height: 1px;
      position: absolute;
      top: 0;
      left: 0;
      background: $gray-20;
    }
  }
}
