//
// Navbar styles
//

@use "sass:map";

.navbar {
  display: flex;
  align-items: center;

  &__logo {
    display: flex;
    position: relative;

    & > img {
      width: $navbar-logo-width * 0.75;
      height: auto;

      @media (min-width: map.get($breakpoints, "lg")) {
        width: $navbar-logo-width;
      }
    }

    &::after {
      display: none;
      content: "";
      width: 1px;
      height: 100%;
      background-color: $white;
      position: absolute;
      right: -2rem;

      @media (min-width: map.get($breakpoints, "lg")) {
        display: block;
      }
    }

    @media (min-width: map.get($breakpoints, "lg")) {
      margin-right: 4rem;
    }
  }

  &__nav {
    display: none;

    @media (min-width: map.get($breakpoints, "lg")) {
      display: flex;
    }
  }

  &__link {
    display: block;
    color: $white;
    text-decoration: none;
    padding-left: $navbar-nav-padding-x;
    padding-right: $navbar-nav-padding-x;
    padding-top: $navbar-nav-padding-y;
    padding-bottom: $navbar-nav-padding-y;
    &:hover,
    &:active,
    &:focus-visible {
      outline: none;
      background: $gray-70;
    }

    &[aria-current="page"] {
      color: $navbar-nav-link-active-color !important;
    }
  }

  &__link.dropdown__toggler[aria-expanded="true"] {
    background: $gray-70;
  }

  &__search {
    position: relative;
    margin-left: auto;
    cursor: pointer;
    padding-top: $navbar-nav-padding-y * 0.75;
    padding-bottom: $navbar-nav-padding-y * 0.75;

    & > input[type="text"] {
      display: none;
      visibility: hidden;
    }

    & > svg {
      display: inline-block;
      width: 1.4rem;
      height: 1.4rem;
    }

    @media (min-width: map.get($breakpoints, "lg")) {
      padding: 0;
    }
  }

  &__nav-toggler {
    display: inline-block;
    visibility: visible;
    cursor: pointer;
    margin-right: 1rem;
    border-radius: 0;
    border: 1px solid transparent;
    color: $white;
    background-color: transparent;

    & > svg {
      display: inline-block;
      width: 1.5rem;
      height: 1.5rem;
      vertical-align: middle;
    }

    @media (min-width: map.get($breakpoints, "lg")) {
      display: none;
      visibility: hidden;
    }
  }

  &__offcanvas {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    position: fixed;
    top: 0;
    height: 100%;
    max-width: 100%;
    min-width: 300px;
    transform: translateX(-100%);
    visibility: hidden;
    z-index: 2;
    background-color: $white;
    transition: $transition;

    &.active {
      transform: none;
      visibility: visible;
    }
  }

  &__offcanvas &__nav {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  &__offcanvas &__link {
    font-weight: $font-weight-h5;
    color: $gray-90;
    background: none !important;

    &:hover,
    &:active,
    &:focus-visible {
      background: none;
    }
  }

  &__offcanvas .dropdown__target {
    background: transparent;
    border: none;

    & > li {
      &:hover,
      &:active,
      &:focus-visible {
        background: none;
      }
    }

    & > li > a {
      color: $gray-90;
      padding-left: $navbar-nav-padding-x * 2;
    }

    & > li::after {
      display: none;
    }
  }

  &__offcanvas-header {
    display: flex;
    justify-content: flex-end;
    padding-left: $navbar-nav-padding-x;
    padding-right: $navbar-nav-padding-x;
    padding-top: $navbar-nav-padding-y;
    padding-bottom: $navbar-nav-padding-y;
  }

  &__offcanvas-closebutton {
    display: inline-block;
    cursor: pointer;
    border-radius: 0;
    border: 1px solid transparent;
    background-color: transparent;

    & > svg {
      display: inline-block;
      width: 1.4rem;
      height: 1.4rem;
      vertical-align: middle;
    }
  }
}
