//
// Navbar styles
//

@use "sass:map";

.navbar {
  display: flex;
  align-items: center;

  &__logo {
    display: flex;
    position: relative;

    & > img {
      width: $navbar-logo-width * 0.75;
      height: auto;

      @media (min-width: map.get($breakpoints, "lg")) {
        width: $navbar-logo-width;
      }
    }

    &::after {
      display: none;
      content: "";
      width: 1px;
      height: 100%;
      background-color: $white;
      position: absolute;
      right: -2rem;

      @media (min-width: map.get($breakpoints, "lg")) {
        display: block;
      }
    }

    @media (min-width: map.get($breakpoints, "lg")) {
      margin-right: 4rem;
    }
  }

  &__nav {
    display: none;

    @media (min-width: map.get($breakpoints, "lg")) {
      display: flex;
    }
  }

  &__item--dropdown {
    position: relative;
  }

  &__link {
    display: block;
    color: $white;
    text-decoration: none;
    padding-left: $navbar-nav-padding-x;
    padding-right: $navbar-nav-padding-x;
    padding-top: $navbar-nav-padding-y;
    padding-bottom: $navbar-nav-padding-y;
  }

  &__link,
  &__submenu-link {
    &:hover,
    &:active,
    &:focus-visible {
      outline: none;
      background: $gray-60;
    }

    &[aria-current="page"] {
      color: $navbar-nav-link-active-color !important;
    }
  }

  &__link--dropdown {
    display: flex;
    gap: 0.5rem;

    & > svg {
      display: inline-block;
      width: 1em;
      height: 1em;
    }
  }

  &__submenu {
    display: none;
    visibility: hidden;
    flex-direction: column;
    position: absolute;
    min-width: 180px;
    background-color: $gray-70;

    &.active {
      display: flex;
      visibility: visible;
    }
  }

  &__submenu-item {
    position: relative;
    &:not(:last-child):after {
      content: "";
      width: 70%;
      height: 1px;
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      margin-left: auto;
      margin-right: auto;
      background-color: $gray-60;
    }
  }

  &__submenu-link {
    display: block;
    text-decoration: none;
    padding-left: $navbar-nav-padding-y;
    padding-right: $navbar-nav-padding-y;
    padding-top: $navbar-nav-padding-y * 0.75;
    padding-bottom: $navbar-nav-padding-y * 0.75;
    color: $gray-20;
  }

  &__search {
    position: relative;
    margin-left: auto;
    cursor: pointer;
    padding-top: $navbar-nav-padding-y * 0.75;
    padding-bottom: $navbar-nav-padding-y * 0.75;

    & > input[type="text"] {
      display: none;
      visibility: hidden;
    }

    & > svg {
      display: inline-block;
      width: 1.4rem;
      height: 1.4rem;
    }

    @media (min-width: map.get($breakpoints, "lg")) {
      padding: 0;
    }
  }

  &__nav-toggler {
    display: inline-block;
    visibility: visible;
    cursor: pointer;
    margin-right: 1rem;
    border-radius: 0;
    border: 1px solid transparent;
    color: $white;
    background-color: transparent;

    & > svg {
      display: inline-block;
      width: 1.5rem;
      height: 1.5rem;
      vertical-align: middle;
    }

    @media (min-width: map.get($breakpoints, "lg")) {
      display: none;
      visibility: hidden;
    }
  }

  &__offcanvas {
    display: flex;
    align-items: start;
    justify-content: space-between;
    position: fixed;
    top: 0;
    height: 100%;
    max-width: 100%;
    min-width: 300px;
    transform: translateX(-100%);
    visibility: hidden;
    background-color: $white;

    &.active {
      transform: none;
      visibility: visible;
    }
  }

  &__offcanvas &__nav {
    display: flex;
    flex-direction: column;
    align-items: start;
  }

  &__offcanvas &__link {
    font-weight: $font-weight-h5;
    color: $gray-90;
  }

  &__offcanvas &__link,
  &__submenu-link {
    &:hover,
    &:active,
    &:focus-visible {
      background: none;
    }
  }

  &__offcanvas &__submenu {
    background: transparent;
  }

  &__offcanvas &__submenu-item {
    &::after {
      display: none;
    }
  }

  &__offcanvas &__submenu-link {
    color: $gray-90;
    padding-left: $navbar-nav-padding-x * 2;
  }

  &__offcanvas-header {
    display: flex;
    justify-content: end;
    padding-left: $navbar-nav-padding-x;
    padding-right: $navbar-nav-padding-x;
    padding-top: $navbar-nav-padding-y;
    padding-bottom: $navbar-nav-padding-y;
  }

  &__offcanvas-closebutton {
    display: inline-block;
    cursor: pointer;
    border-radius: 0;
    border: 1px solid transparent;
    background-color: transparent;

    & > svg {
      display: inline-block;
      width: 1.4rem;
      height: 1.4rem;
      vertical-align: middle;
    }
  }
}
