//
// Search styles
//

@use "sass:map";

.search {
  position: relative;
  flex-grow: 0;
  display: flex;
  gap: 0.5rem;
  align-items: center;
  background: transparent;
  color: $search-color;
  border: $search-border;
  border-color: transparent;
  cursor: pointer;

  &__input {
    display: none;
    visibility: hidden;
    width: 100%;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;

    background: transparent;
    color: inherit;
    font-size: $search-font-size;
    border: none;
    outline: none;

    &::placeholder {
      color: $search-placeholder-color;
    }
  }

  &__icon {
    display: inline-block;
    width: 1.4em;
    height: 1.4em;
  }

  &__close-icon {
    display: none;
    width: 1.4em;
    height: 1.4em;
    cursor: pointer;
    margin-right: 0.5rem;
  }

  &:focus-within {
    outline: none;
    border: $search-border;
  }

  &__results {
    display: none;
    position: absolute;
    bottom: 0;
    transform: translateY(calc(100% + 0.5rem));
    z-index: 2;
    flex-direction: column;
    width: 100%;
    border: $search-results-border;
    background: $search-results-background;
  }

  &__results.active {
    display: flex;
  }

  &__result {
    display: block;
    text-decoration: none;
    padding-left: $search-result-padding-x;
    padding-right: $search-result-padding-x;
    padding-top: $search-result-padding-y;
    padding-bottom: $search-result-padding-y;
    color: $gray-20;

    &:hover,
    &:active,
    &:focus-visible {
      background-color: $gray-60;
    }
  }
}

.search.active {
  flex-grow: 1;
  background: $search-background;
  cursor: text;

  .search__input {
    display: block;
    visibility: visible;
  }

  .search__icon {
    margin-left: 0.5rem;
  }

  .search__close-icon {
    display: inline-block;
  }

  @media (min-width: map.get($breakpoints, "lg")) {
    max-width: $search-max-width;
  }
}
