---
permalink: /
layout: base.liquid
eleventyNavigation:
  key: home
  title: Home
  order: 0
title: This is the home page!
---

<section>
  <div class="container" style="display: flex;flex-direction: column;align-items: start; gap: 1rem;">
    <a class="tag tag--primary" href="#">Javascript</a>
    <a class="tag tag--secondary" href="#">Javascript</a>
    <a class="tag tag--danger" href="#">Javascript</a>

    <button class="btn btn--primary">This is a button button </button>
    <a class="btn btn--primary" href="#">This is a anchor button</a>

    <button class="btn btn--secondary">This is a button button</button>
    <a class="btn btn--secondary" href="#">This is a anchor button</a>

    <button class="btn btn--tertiary">This is a button button</button>
    <a class="btn btn--tertiary" href="#">This is a anchor button</a>

    <button class="btn btn--primary btn--icon">
      This is a button button icon
      <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
        <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm1-11a1 1 0 10-2 0v3.586L7.707 9.293a1 1 0 00-1.414 1.414l3 3a1 1 0 001.414 0l3-3a1 1 0 00-1.414-1.414L11 10.586V7z" clip-rule="evenodd" />
      </svg>
    </button>
    <button class="btn btn--secondary btn--icon">
      This is a button button icon
      <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
        <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm1-11a1 1 0 10-2 0v3.586L7.707 9.293a1 1 0 00-1.414 1.414l3 3a1 1 0 001.414 0l3-3a1 1 0 00-1.414-1.414L11 10.586V7z" clip-rule="evenodd" />
      </svg>
    </button>
    <button class="btn btn--tertiary btn--icon">
      This is a button button icon
      <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
        <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm1-11a1 1 0 10-2 0v3.586L7.707 9.293a1 1 0 00-1.414 1.414l3 3a1 1 0 001.414 0l3-3a1 1 0 00-1.414-1.414L11 10.586V7z" clip-rule="evenodd" />
      </svg>
    </button>
  </div>
</section>